<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div>
        <h1>Add To List</h1>

        <form>
            Favorite Thing To Do:<br>
            <input type="text" name="itemToAdd" autofocus="autofocus"><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <nav>
            <a href="index.html">Home</a>
            <a href="addToList.html">Add To List</a>
            <a href="login.html">Login</a>
        </nav>
    </div>    
</body>
</html>