<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/script.js"></script>
</head>
<body>
    <div>
        <h1>Welcome to Justin Shappy's node server page.</h1>
        <ol>
            <lh><b>My Favorite Things To Do</b></lh>
            <li>Read Dystopian Novels</li>
            <li>Visit Vermont</li>
            <li>Visit Maine</li>
            <li>Visit Arizona</li>
            <li>Eat Cuisine</li>
            <li>Play Sly Cooper Series</li>
            <li>Play Don't Starve</li>
            <li>Play Speedrunners</li>
            <li>Play Darkest Dungeon</li>
            <li>Code</li>
        </ol>
        
        <nav>
            <a href="index.html">Home</a>
            <a href="addToList.html">Add To List</a>
            <a href="contact.html">Contact</a>
        </nav>

        <p>I picked the topic of things I enjoy doing because I could not think of ten things that I liked that belonged to a more narrow identifying feature.</p>
    </div>    
</body>
</html>