<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div>
        <h1>Login</h1>
        <form>
                Please enter your username and password.<br>
                <input type="text" name="username" value="Username" onclick="this.select()" autofocus="autofocus" onfocus="this.select()"><br>
                <input type="text" name="password" value="Password" onclick="this.select()"><br>
                <input type="submit" value="Login">
            </form>
        <br>
        <nav>
            <a href="index.html">Home</a>
            <a href="addToList.html">Add To List</a>
            <a href="login.html">Login</a>
        </nav>
    </div>    
</body>
</html>